/* Estilos gerais */

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

body {
    font-family: 'Orbitron', sans-serif;
    font-optical-sizing: auto;
    font-style: bold;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    position: relative;
    height: 100vh;
    opacity: 0;
    transition: opacity 1s ease;
}

body.fade-in {
    opacity: 1;
}

/* Estilos para a Terra (superior esquerda) */
.background-image.terra {
    position: absolute;
    top: 0;
    right: 0;
    width: 500px;
    height: auto;
    z-index: 2;
}

.image-buttons {
    position: absolute;
    bottom: 10px; /* Alinhado logo acima da Lua */
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

.image-button img {
    position: absolute;
    bottom: 50px; /* Alinhado logo acima da Lua */
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
  }
  
.image-button {
    text-decoration: none; /* Remover sublinhado do link */
    border: none;
    
  }

/* Estilos para o Módulo (centralizado em cima da Lua) */
.background-image.modulo {
    position: absolute;
    bottom: 50px; /* Alinhado logo acima da Lua */
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

.description {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    z-index: 4;
  }

/* Estilos para centralizar o h2 */
.h2-centered {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1rem;
    text-align: center;
    z-index: 4;
}

.image-button-mars {
    position: absolute;
    bottom: 10px; /* Alinhado logo acima da Lua */
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

.button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}

/* Estilos para centralizar os botões no canto inferior */
.menu-buttons {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 20px; /* Espaçamento entre os botões */
    z-index: 4;
}

/* Estilos para os links como botões */
.menu-buttons a {
    background-color: #1463BD; /* Fundo azul escuro */
    text-decoration: none;
    font-size: 1.2rem;
    color: white; /* Texto branco */
    padding: 10px; /* Padding para espaçamento interno */
    width: 150px; /* Largura fixa para padronizar os botões */
    height: 50px; /* Altura fixa para padronizar os botões */
    border-radius: 10px; /* Bordas arredondadas */
    border: 2px solid #5CE1E6; /* Borda azul claro */
    transition: transform 0.3s ease, background-color 0.3s ease;
    text-align: center; /* Centralizar o texto */
    display: inline-block; /* Permitir que os links se comportem como botões */
    line-height: 50px; /* Centraliza o texto verticalmente */
}

/* Estilo para os botões no estado hover */
.menu-buttons a:hover {
    transform: scale(1.1);
    background-color: #5271FF; /* Alteração de cor para azul médio no hover */
}

/* Botão com menos destaque (Team) */
.menu-buttons .button-team {
    background-color: #000000; /* Fundo preto */
    border: 2px solid #5CE1E6; /* Azul claro na borda */
    color: #E0E0E0; /* Texto mais claro */
    margin-top: 10px; /* Adiciona um espaço acima do botão Team */
}

/* Estilo para o botão Team no estado hover */
.menu-buttons .button-team:hover {
    background-color: #5271FF; /* Azul claro no hover */
    color: black; /* Texto preto para contraste */
}

/* Centralizar o texto dentro dos botões */
.menu-buttons a p {
    margin: 0;
}


/* Estilos para a Lua (100% na parte inferior) */
.background-image.lua {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    background-image: url('static/lua.png');
    background-size: cover;
    background-position: center;
}

/* Estilos para as imagens */
.background-image img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}



/* Responsividade */
@media screen and (max-width: 768px) and (min-width: 480px) {
    .background-image.terra {
        width: 300px;
    }

    .background-image.modulo {
        bottom: 30px;
    }

    .background-image.lua {
        height: 100px;
    }

    .h2-centered {
        font-size: 1rem;
    }

    .description {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 480px) and (min-width: 320px) {
    .background-image.terra {
        width: 150px;
    }

    .background-image.modulo {
        bottom: 50px;
    }

    .background-image.lua {
        height: 100px;
    }

    .h2-centered {
        font-size: 1.3rem;
    }

    .description {
        font-size: 0.7em;
        top: 40%;
    }
}