<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>42 Quake Heroes</title>
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>

  <div class="image-container">
    <div class="background-image terra">
      <img src="/static/imgs/terra.png" alt="Imagem da Terra">
    </div>

    <p class="description">Seja bem-vindo ao 42 Quake Heroes! Aqui você pode se tornar um herói e salvar a Terra de um terremoto. Para começar, clique no modulo lunar Apollo!.</p>
    <h2 class="h2-centered">42 Quake Heroes</h2>
    

    <a href="{{ url_for('home1') }}" class="image-buttons">
      <img src="/static/imgs/modulo.png" alt="Imagem do Módulo">
    </a>

    <div class="background-image lua">
      <img src="/static/imgs/lua.png" alt="Imagem da Lua">
    </div>
  </div>

</body>
</html>