<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>42 Quake Heroes</title>
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>

  <div class="image-container">
    <div class="background-image terra">
      <img src="/static/imgs/terrareal.png" alt="Imagem da Terra">
    </div>

    <p class="description">Did you know that quakes occur on other celestial bodies? <br/>
      Our understanding of seismic activity extends beyond Earth!
    </p>
    
    

    <a href="{{ url_for('mars') }}" class="image-buttons">
      <img src="/static/imgs/modulox.png" alt="Imagem do Módulo">
    </a>

    <div class="background-image lua">
      <img src="/static/imgs/lua.png" alt="Imagem da Lua">
    </div>
  </div>

</body>
</html>