<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>42 Quake Heroes</title>
  <link rel="stylesheet" href="/static/css/styles.css">
  <link rel="shortcut icon" type="im" href="/static/imgs/logo.jpeg">
  <script src="https://kit.fontawesome.com/1bdef45d83.js" crossorigin="anonymous"></script>
  <style>
    body {
      overflow: hidden; /* Bloqueia o scroll da página */
    }
  </style>  
</head>
<body class = "fade">

  <div class="image-container">
    <div class="background-image terra">
      <img src="/static/imgs/terrareal.png" alt="Imagem da Terra">
    </div>

    <p class="description">Did you know that quakes occur on other celestial bodies? <br/>
      Our understanding of seismic activity extends beyond Earth!
    </p>
    
    <a href="{{ url_for('homemoon') }}" class="image-buttons">
      <img src="/static/imgs/modulox.png" alt="Imagem do Módulo">
    </a>

    <div class="menu-buttons">
      <a href="{{ url_for('solarsystem') }}" class="button-back">
          <p>Back</p>
      </a>
      <a href="{{ url_for('team') }}" class="button-team">
          <p>Team</p>
      </a>
      <a href="{{ url_for('homemoon') }}" class="button-forward">
          <p>Forward</p>
      </a>
    </div>

    <div class="background-image lua">
      <img src="/static/imgs/lua.png" alt="Imagem da Lua">
    </div>
  </div>

  <script>
    window.onload = function() {
        document.body.classList.add('fade-in');
    };
  </script>
</body>
</html>