<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moonquakes</title>
    <link rel="shortcut icon" type="im" href="/static/imgs/logo.jpeg">
    <style>
        .container {
            display: flex;
            justify-content: space-around;
            margin-top: 20px;
        }
        .element {
            text-align: center;
            width: 30%;
        }
        .element img {
            width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <h1>Moonquakes</h1>
    <div class="container">
        <div class="element" onclick="location.href='moonquake1';" style="cursor: pointer;"></div>
            <h2>Element 1</h2>
            <img src="/static/imgs/lua.png" alt="Image 1">
            <p>Description for element 1.</p>
        </div>
        <div class="element" onclick="location.href='moonquake2';" style="cursor: pointer;">
            <h2>Element 2</h2>
            <img src="/static/imgs/lua.png" alt="Image 2">
            <p>Description for element 2.</p>
        </div>
        <div class="element" onclick="location.href='moonquake3';" style="cursor: pointer;">
            <h2>Element 3</h2>
            <img src="/static/imgs/lua.png" alt="Image 3">
            <p>Description for element 3.</p>
        </div>
    </div>
</body>
</html>
</html>